<%- include("partials/header.ejs") %>

<main id="main">
    <div id="main-container"></div>
        <div id="main-head"><h1>Secrets</h1>
        <div id="main-p"><ul id="secret-list">
            <% if (locals.secretsAbout.length > 0 && locals.secretsInfo.length > 0) { %>

                <% for( let i = 0; i < locals.secretsAbout.length; i++ ) { %>

                    <div id="secret-container">
                        <li id="secret-head">
                            ✔️<%= secretsAbout[i] %>
                        </li>

                        <li id="secret-p">
                            <%= secretsInfo[i] %>
                        </li>

                        <li id="btn-container">
                            <form action="/secrets-delete" method="POST"><button type="submit" name="deleteBtn" value="<%- i %>" id="delete-btn">Delete</button></form>
                            <form action="/secret-adjustment" method="POST"><button type="submit" name="adjBtn" value="<%- i %>" id="adj-btn">Adjust</button></form>
                        </li>
                    </div>

                <% } %>

            <% } else { %>

                <li>
                    <h3 id="main-head-3">There is none secret to be seen</h3>
                </li>

            <% } %>
        </ul></div>
    </div>
</main>

<%- include("partials/footer.ejs") %>